---
import Header from "./components/header.astro";
import Body from "./components/body.astro";
import Footer from "./components/footer.astro";
import AstroGreet from './pages/count.astro';
// import Markdown from "./pages/markdown.md";
---

<Header title="title"/>
<Body/>
    <div>HEY PARTNER</div>
    <!-- <Markdown /> -->
    <AstroGreet message="Hola"/>
</Body>
<Footer />